body {
  background-color: #1A1A1A;
}
.navBar {
  background-color: black;
}
header {
  outline: none;
}
.nav {
  color: #8C8C8C;

}

.nav:hover {
  color: white;
}

#search:focus {
  border: 2px solid white;
}

.movieImg {
  width: 190px;
  height: 300px;
}


.card {
  background-color: #9C9C9C;
  align-items: center;
 /* box-shadow: 0px 20px 100px rgba(0, 0, blue, alpha); */
}

.movie-img {
  width: 95%;
  height: 300px;
  border-radius: 30px 30px 10px 30px;
  margin: 10px;
}



.btn-add {
  position: absolute;
  right: 20px;
  bottom: 120px;
  width: 30px;
  height: 30px;
  border-radius: 60px;
}

.card-body {
  display: flex;
  flex-direction: row;
}
.card-title, .card-text,.year{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0px;
}



