body {
  background-color: #1A1A1A;
}
/* .navBar { */
/*   background-color: black; */
/* } */
/* header { */
/*   outline: none; */
/* } */
* {
	font-family: 'Poppins', sans-serif;
}
.navBar {
  background-color: black;
}

h1 {
  font-size: 4em;
  color: white;
}

/* #title { */
/*   width: 650px; */
/*   height: 130px; */
/*   background-color: gray; */
/*   display: flex; */
/*   text-align: center; */
/*   justify-content: center; */
/* } */

#titleValue {
  font-family: "Science Gothic", sans-serif;
  
}

.nav {
  color: #8C8C8C;
}
.navBar:hover {
  color: white;
}

#search:focus {
  border: 2px solid white;
}


 .movie-card{
	padding: 0 !important;
	width: 12rem;
	margin:14px; 
	border-radius: 10px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.movie-card img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 18rem;
}
.movie-info{
	color: #5e5c5c;
}

.movie-info i{
	font-size: 15px;
}

/* .add-fav {
	background-color: #FFFFFF;
 	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	right: 20px;
	bottom: 80px;
	font-size: 27px;
	padding-left: 12px;
	padding-top: 12px;
	color: #000000;
	cursor: pointer;
  border-style: none;
  align-items: center;
  justify-content: center;
} */

.add-fav{
  background-color: transparent;
	position: absolute;
	bottom: 90px;
	right: 5px;
	/* width: 12px; */
	/* height: 12px; */
	border-radius:50%;
	display:flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 8px rgba(0,0,0,0,.2);
	cursor:pointer;
	transition: transform 0.2s ease;
	border:none;
	
} 


 
.addIcon {
  color: white;
}

.addIcon:hover {
  color: black;
}
 
 
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  /* Targeting all form controls */
.form-control {
    border-color: #FFFFFF; /* Example: Purple */
  }


/* Changing border color on focus (the blue glow) */
.form-control:focus {
    border-color: white;
    box-shadow: 0 0 0 0.25rem rgba(233, 233, 233, 0.8); /* Adjust box-shadow to match the new border color */
}  



/* .poster-img { */
/*   max-height: 400px;      /* adjust to whatever height fits your layout */ 
/*   width: auto;            /* keep poster ratio */ 
/*   object-fit: contain;    /* prevents stretching */ 
/* } */
/* CSS */
/* .carousel-item { */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center;    /* centers poster vertically */ 
/*   min-height: 200px;      /* optional */ 
/* } */

/**/
/* .posterImg { */
/*   max-height: 750px;      /* cap height */ 
/* /*   width: auto;          */ 
/*   /* object-fit: contain;  */ 
/*   display: block; */
/* } */

.card {
  background-color: black;
  text-decoration: none;
}


.card:hover {
  background-color: white;
  
}





